mixin styles
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/paper-css/0.3.0/paper.css')
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/antd/4.6.1/antd.min.css')
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.5.2/litera/bootstrap.min.css')
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css')

  link(rel='stylesheet', href='styles/root.css')
